*{
    margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  section {
    padding: 30vh 0;
    height: 750px;
  }
  
  .one__icon {
    background: rgba(0,0,0,.3);
    color: rgba(0,0,0,.3);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2em;
  }
  
  .one {
    background: url(img/index1.jpg) ;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
  }


.logo{
	width: 150px;
	cursor: pointer;
}

.navbar{
	width: 85%;
	height: 15%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button{

	padding: 10px 25px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

button:on{
    background-color: rgb(91, 91, 245);
    color: white;
}

.content{
	color: #fbfcfd;
	position: absolute;
	top: 45%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;
}

h1{
	font-size: 50px;
	margin: 10px 0 30px;
	
}

small{
	font-size: 20px;
}
  
  
  .two {
    background: whitesmoke;
  }
  .col-sm-8{
    padding: 20px;
    font-size: 2em;
   
  }

  ul {
    font-size: 1em;
    text-decoration: none;
    list-style-type: none;
  }

  li:nth-child(1){
    color: tomato;
  }
  li:nth-child(2){
    color: lightpink;
  } 
  li:nth-child(3){
    color: rgb(144, 248, 8);
  }


  .three {
    background: papayawhip;
    position: relative;
    
  }
  
 #imgthree{
   width: 260px;
   height: 400px;
   margin-bottom: 30px;
 }  

 .three h1{
  color: #df044d;
  font-size: 50px;
  
}

  .three::after,
  .three::before {
    position: absolute; 
    content: '';
    width: 150px;
    height: 150px;
    background: papayawhip;
    bottom: -1em;
    z-index: 100;
  }
  
  .three::before {
    right: 50%;
    transform: skew(0, 20deg)
  }
  
  .three::after {
    left: 50%;
    transform: skew(0, -20deg)
  }


  #imgthree{
    width: 360px;
    height: 430px;
  }  


  .four {
    background: url(img/index3.jpg);
  }

  
 .four h1{
  color: #fff;
  font-size: 50px;  
}
.four h4{
  color: #fff;
  font-size: 40px;  
}


  .five {
    background: rgb(94, 63, 63);
    position: relative;
  }
  
  .five::after,
  .five::before {
    position: absolute; 
    content: '';
    width: 150px;
    height: 150px;
    background: rgb(94, 63, 63);
    bottom: -1em;
    z-index: 100;
  }
  
  .five::before {
    right: 50%;
    transform: skew(0, 20deg)
  }
  
  .five::after {
    left: 50%;
    transform: skew(0, -20deg)
  }

  .five h1{
    color: #fff;
    font-size: 50px;  
  }
  .five h4{
    color: #fff;
    font-size: 40px;  
  }
  

  .six {
    background:  url(img/index5.jpg);
  }

  .six h1{
    color: #77072c;
    font-size: 50px;  
  }
  .six h4{
    color: #77072c;
    font-size: 40px;  
  }
  
  
  .seven {
    background: rgb(94, 63, 63);
    position: relative;
  }

  .seven h1{
    color: #fff;
    font-size: 50px;  
  }
  .seven h4{
    color: #fff;
    font-size: 40px;  
  }
  

  .seven::after,
  .seven::before {
    position: absolute; 
    content: '';
    width: 150px;
    height: 150px;
    background: rgb(94, 63, 63);
    bottom: -1em;
    z-index: 100;
  }
  
  .seven::before {
    right: 50%;
    transform: skew(0, 20deg)
  }
  
  .seven::after {
    left: 50%;
    transform: skew(0, -20deg)
  }


  .eight {
    background:  url(img/index7.jpg);
  }

  .eight h1{
    color: #fff;
    font-size: 50px;  
  }
  .eight h4{
    color: #fff;
    font-size: 40px;  
  }
  

  .night {
    background: rgb(94, 63, 63);
  }

  .night h1{
    color: #fff;
    font-size: 50px;  
  }
  .night h4{
    color: #fff;
    font-size: 40px;  
  }
  